[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-rest-framework = "*"
django-environ = "*"
django-filter = "*"
djangorestframework-simplejwt = "*"
requests = "*"
django-constance = {extras = ["database"], version = "*"}
pymemcache = "*"
pylibmc = "*"
django-jazzmin = "*"

[dev-packages]
powerline-shell = "*"
black = "*"
pytest-django = "*"
factory-boy = "*"
pytest-factoryboy = "*"
faker = "*"

[requires]
python_version = "3.10"
